In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

spark = SparkSession.builder.appName("Recommendation ALS").getOrCreate()

# do something to prove it works
movies_df = spark.read.option("header", "true").csv("data/movies.csv", inferSchema=True)
links_df = spark.read.option("header", "true").csv("data/links.csv", inferSchema=True)
movies_df = movies_df.join(links_df, on = ['movieId'])
ratings_df = spark.read.option("header", "true").csv("data/ratings.csv", inferSchema=True)
tags_df = spark.read.option("header", "true").csv("data/tags.csv", inferSchema=True)

movies_df.show()

(training, test) = ratings_df.randomSplit([0.8, 0.2])
# Build the recommendation model using ALS on the training data
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
          coldStartStrategy="drop")
model = als.fit(training)


# Evaluate the model by computing the RMSE on the test data
predictions = model.transform(test)
predictions.printSchema()
predictions.orderBy('prediction').show(10)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

+-------+--------------------+--------------------+------+------+
|movieId|               title|              genres|imdbId|tmdbId|
+-------+--------------------+--------------------+------+------+
|      1|    Toy Story (1995)|Adventure|Animati...|114709|   862|
|      2|      Jumanji (1995)|Adventure|Childre...|113497|  8844|
|      3|Grumpier Old Men ...|      Comedy|Romance|113228| 15602|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|114885| 31357|
|      5|Father of the Bri...|              Comedy|113041| 11862|
|      6|         Heat (1995)|Action|Crime|Thri...|113277|   949|
|      7|      Sabrina (1995)|      Comedy|Romance|114319| 11860|
|      8| Tom and Huck (1995)|  Adventure|Children|112302| 45325|
|      9| Sudden Death (1995)|              Action|114576|  9091|
|     10|    GoldenEye (1995)|Action|Adventure|...|113189|   710|
|     11|American Presiden...|Comedy|Drama|Romance|112346|  9087|
|     12|Dracula: Dead and...|       Comedy|Horror|112896| 12110|
|     13|        Balto (1995)|Adventure|Animati...|112453| 21032|
|     14|        Nixon (1995)|               Drama|113987| 10858|
|     15|Cutthroat Island ...|Action|Adventure|...|112760|  1408|
|     16|       Casino (1995)|         Crime|Drama|112641|   524|
|     17|Sense and Sensibi...|       Drama|Romance|114388|  4584|
|     18|   Four Rooms (1995)|              Comedy|113101|     5|
|     19|Ace Ventura: When...|              Comedy|112281|  9273|
|     20|  Money Train (1995)|Action|Comedy|Cri...|113845| 11517|
+-------+--------------------+--------------------+------+------+
only showing top 20 rows

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)
 |-- prediction: float (nullable = false)

+------+-------+------+----------+----------+
|userId|movieId|rating| timestamp|prediction|
+------+-------+------+----------+----------+
|   576|   2826|   4.5|1358151536| -2.783927|
|   536|    232|   2.0| 832840090|-2.7431517|
|   384|   4333|   4.0| 993555974|-2.4962099|
|   257|   5952|   3.0|1141625449|  -2.47073|
|   328| 102903|   0.5|1494211403|-1.9504237|
|   255|   3929|   2.0|1005717292|-1.7241547|
|   149|   2034|   1.0| 902085188|-1.6534903|
|   308|   5669|   3.0|1421375081|-1.1756775|
|   341|  90890|   3.5|1439751340|-1.0504715|
|   160|   2340|   1.0| 985383314|-1.0491143|
+------+-------+------+----------+----------+
only showing top 10 rows

Root-mean-square error = 1.0861544511539838

Select the random userid, for example userid=1. Filter all movies that has not been watched by this user

In [55]:
from pyspark.sql import SQLContext

userId = 496
watched_movies = ratings_df.filter(ratings_df['userId'] == userId).select("movieId")

print("Watch movies {}".format(watched_movies.count()))
print("Total movies {}".format(movies_df.count()))

sqlContext = SQLContext(spark.sparkContext)
# watched_movies.registerTempTable('watchedMovies')
# movies_df.registerTempTable("movies")
movies_df.show()
unwatched_movies = movies_df.filter(~movies_df['movieId'].isin(watched_movies.select("movieId").rdd.map(lambda r:r[0]).collect()))
# unwatched_movies = sqlContext.sql("SELECT * FROM movies WHERE movies.movieId NOT IN (SELECT movieId FROM watchedMovies)")
# unwatched_movies.count()

unwatched_movies.registerTempTable('unwatchedMovies')
predictions.registerTempTable("predictions")

unwatched_movies_rating = sqlContext.sql("SELECT * FROM unwatchedMovies INNER JOIN predictions ON unwatchedMovies.movieId = predictions.movieId order by predictions.prediction DESC, predictions.rating DESC")
unwatched_movies_rating.show()

Watch movies 29
Total movies 9742
+-------+--------------------+--------------------+------+------+
|movieId|               title|              genres|imdbId|tmdbId|
+-------+--------------------+--------------------+------+------+
|      1|    Toy Story (1995)|Adventure|Animati...|114709|   862|
|      2|      Jumanji (1995)|Adventure|Childre...|113497|  8844|
|      3|Grumpier Old Men ...|      Comedy|Romance|113228| 15602|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|114885| 31357|
|      5|Father of the Bri...|              Comedy|113041| 11862|
|      6|         Heat (1995)|Action|Crime|Thri...|113277|   949|
|      7|      Sabrina (1995)|      Comedy|Romance|114319| 11860|
|      8| Tom and Huck (1995)|  Adventure|Children|112302| 45325|
|      9| Sudden Death (1995)|              Action|114576|  9091|
|     10|    GoldenEye (1995)|Action|Adventure|...|113189|   710|
|     11|American Presiden...|Comedy|Drama|Romance|112346|  9087|
|     12|Dracula: Dead and...|       Comedy|Horror|112896| 12110|
|     13|        Balto (1995)|Adventure|Animati...|112453| 21032|
|     14|        Nixon (1995)|               Drama|113987| 10858|
|     15|Cutthroat Island ...|Action|Adventure|...|112760|  1408|
|     16|       Casino (1995)|         Crime|Drama|112641|   524|
|     17|Sense and Sensibi...|       Drama|Romance|114388|  4584|
|     18|   Four Rooms (1995)|              Comedy|113101|     5|
|     19|Ace Ventura: When...|              Comedy|112281|  9273|
|     20|  Money Train (1995)|Action|Comedy|Cri...|113845| 11517|
+-------+--------------------+--------------------+------+------+
only showing top 20 rows

+-------+--------------------+--------------------+-------+------+------+-------+------+----------+----------+
|movieId|               title|              genres| imdbId|tmdbId|userId|movieId|rating| timestamp|prediction|
+-------+--------------------+--------------------+-------+------+------+-------+------+----------+----------+
|     85|Angels and Insect...|       Drama|Romance| 112365|  8447|   262|     85|   3.0| 840306620|  8.992974|
|  69644|Ice Age: Dawn of ...|Action|Adventure|...|1080016|  8355|    98|  69644|   1.5|1532457605| 7.9052773|
|   3113|  End of Days (1999)|Action|Fantasy|Ho...| 146675|  9946|   267|   3113|   4.0| 959806897|  7.866298|
| 157296| Finding Dory (2016)|Adventure|Animati...|2277860|127380|   159| 157296|   4.5|1508641197| 7.7524643|
|   1204|Lawrence of Arabi...| Adventure|Drama|War|  56172|   947|   494|   1204|   3.0|1000384075|  7.542533|
|  31878|Kung Fu Hustle (G...|       Action|Comedy| 373074|  9470|    83|  31878|   0.5|1332838137| 7.4855423|
|   2194|Untouchables, The...|  Action|Crime|Drama|  94226|   117|   423|   2194|   4.5|1155285538| 7.3818083|
|   5816|Harry Potter and ...|   Adventure|Fantasy| 295297|   672|    77|   5816|   5.0|1535107557|  7.308876|
|   4148|     Hannibal (2001)|     Horror|Thriller| 212985|  9740|   393|   4148|   3.5|1430507559| 7.2732873|
|   3298|  Boiler Room (2000)|Crime|Drama|Thriller| 181984| 14181|   392|   3298|   4.0|1027524346| 7.1344357|
|   1262|Great Escape, The...|Action|Adventure|...|  57115|  5925|   399|   1262|   3.5|1167222111|  7.132594|
|   2125|Ever After: A Cin...|Comedy|Drama|Romance| 120631|  9454|   467|   2125|   2.0| 919672054| 7.1262507|
|     52|Mighty Aphrodite ...|Comedy|Drama|Romance| 113819| 11448|   120|     52|   3.0| 860070065|  7.060849|
|    215|Before Sunrise (1...|       Drama|Romance| 112471|    76|   182|    215|   4.0|1055157049| 7.0588694|
|   3986| 6th Day, The (2000)|Action|Sci-Fi|Thr...| 216216|  8452|   267|   3986|   4.0| 979230761|  6.949275|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...| 177789|   926|   267|   3175|   4.0| 959806831| 6.8184643|
|   2288|   Thing, The (1982)|Action|Horror|Sci...|  84787|  1091|   532|   2288|   4.0|1025523852|   6.80686|
|   3910|Dancer in the Dar...|       Drama|Musical| 168629|    16|   259|   3910|   5.0|1146845820| 6.7845917|
|    940|Adventures of Rob...|Action|Adventure|...|  29843| 10907|   128|    940|   5.0| 899032847| 6.7659297|
|   1350|    Omen, The (1976)|Horror|Mystery|Th...|  75005|   794|   118|   1350|   3.0| 944923926| 6.7220993|
+-------+--------------------+--------------------+-------+------+------+-------+------+----------+----------+
only showing top 20 rows

In [34]:
unwatched_movies.show()

NameError: name 'unwatched_movies' is not defined

In [8]:
recommendedMovies = unwatched_movies_rating.take(5)
for r in recommendedMovies:
    print(r['movieId'], r['title'], r['prediction'])

106489 Hobbit: The Desolation of Smaug, The (2013) 10.648029327392578
142488 Spotlight (2015) 9.821280479431152
232 Eat Drink Man Woman (Yin shi nan nu) (1994) 8.60883903503418
3157 Stuart Little (1999) 7.532286167144775
1372 Star Trek VI: The Undiscovered Country (1991) 7.4608964920043945