In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

spark = SparkSession.builder.appName("Recommendation ALS").getOrCreate()

# do something to prove it works
movies_df = spark.read.option("header", "true").csv("data/movies.csv", inferSchema=True)
links_df = spark.read.option("header", "true").csv("data/links.csv", inferSchema=True)
movies_df = movies_df.join(links_df, on = ['movieId'])
ratings_df = spark.read.option("header", "true").csv("data/ratings.csv", inferSchema=True)
tags_df = spark.read.option("header", "true").csv("data/tags.csv", inferSchema=True)

movies_df.show()

(training, test) = ratings_df.randomSplit([0.8, 0.2])
# Build the recommendation model using ALS on the training data
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
          coldStartStrategy="drop")
model = als.fit(training)


# Evaluate the model by computing the RMSE on the test data
predictions = model.transform(test)
predictions.printSchema()
predictions.orderBy('prediction').show(10)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

+-------+--------------------+--------------------+------+------+
|movieId|               title|              genres|imdbId|tmdbId|
+-------+--------------------+--------------------+------+------+
|      1|    Toy Story (1995)|Adventure|Animati...|114709|   862|
|      2|      Jumanji (1995)|Adventure|Childre...|113497|  8844|
|      3|Grumpier Old Men ...|      Comedy|Romance|113228| 15602|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|114885| 31357|
|      5|Father of the Bri...|              Comedy|113041| 11862|
|      6|         Heat (1995)|Action|Crime|Thri...|113277|   949|
|      7|      Sabrina (1995)|      Comedy|Romance|114319| 11860|
|      8| Tom and Huck (1995)|  Adventure|Children|112302| 45325|
|      9| Sudden Death (1995)|              Action|114576|  9091|
|     10|    GoldenEye (1995)|Action|Adventure|...|113189|   710|
|     11|American Presiden...|Comedy|Drama|Romance|112346|  9087|
|     12|Dracula: Dead and...|       Comedy|Horror|112896| 12110|
|     13|        Balto (1995)|Adventure|Animati...|112453| 21032|
|     14|        Nixon (1995)|               Drama|113987| 10858|
|     15|Cutthroat Island ...|Action|Adventure|...|112760|  1408|
|     16|       Casino (1995)|         Crime|Drama|112641|   524|
|     17|Sense and Sensibi...|       Drama|Romance|114388|  4584|
|     18|   Four Rooms (1995)|              Comedy|113101|     5|
|     19|Ace Ventura: When...|              Comedy|112281|  9273|
|     20|  Money Train (1995)|Action|Comedy|Cri...|113845| 11517|
+-------+--------------------+--------------------+------+------+
only showing top 20 rows

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)
 |-- prediction: float (nullable = false)

+------+-------+------+----------+----------+
|userId|movieId|rating| timestamp|prediction|
+------+-------+------+----------+----------+
|   536|    232|   2.0| 832840090| -4.030426|
|   120|    743|   3.0| 860070141| -2.108109|
|   472|   2840|   4.0|1345842966|-2.0321212|
|   264|   1876|   3.5|1136978477|-1.6865745|
|   473|   2136|   1.0|1169351319| -1.506858|
|    36|   3766|   2.0|1100803862|-1.4435704|
|   301|   1644|   0.5|1211376270|-1.3938472|
|   153|   2617|   0.5|1525552650|-1.2981129|
|   467|   2324|   5.0| 919670453|-1.2158127|
|   298| 135861|   1.5|1458650077|-1.1166792|
+------+-------+------+----------+----------+
only showing top 10 rows

Root-mean-square error = 1.0657402151824118

Select the random userid, for example userid=1. Filter all movies that has not been watched by this user

In [3]:
from pyspark.sql import SQLContext

userId = 496
watched_movies = ratings_df.filter(ratings_df['userId'] == userId).select("movieId")

print("Watch movies {}".format(watched_movies.count()))
print("Total movies {}".format(movies_df.count()))

sqlContext = SQLContext(spark.sparkContext)
watched_movies.registerTempTable('watchedMovies')
movies_df.registerTempTable("movies")
predictions.registerTempTable("predictions")

unwatched_movies = sqlContext.sql("SELECT * FROM movies WHERE movies.movieId NOT IN (SELECT movieId FROM watchedMovies)")
unwatched_movies.count()

unwatched_movies.registerTempTable('unwatchedMovies')

unwatched_movies_rating = sqlContext.sql("SELECT * FROM unwatchedMovies INNER JOIN predictions WHERE unwatchedMovies.movieId = predictions.movieId order by predictions.rating, predictions.prediction DESC")
unwatched_movies_rating.show()

Watch movies 232
Total movies 9742

2259912

In [4]:
unwatched_movies.show()

+-------+----------------+--------------------+------+------+-------+
|movieId|           title|              genres|imdbId|tmdbId|movieId|
+-------+----------------+--------------------+------+------+-------+
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|      3|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|      6|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|     47|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|     50|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|     70|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    101|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    110|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    151|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    157|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    163|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    216|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    223|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    231|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    235|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    260|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    296|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    316|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    333|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    349|
|      1|Toy Story (1995)|Adventure|Animati...|114709|   862|    356|
+-------+----------------+--------------------+------+------+-------+
only showing top 20 rows

In [30]:
recommendedMovies = unwatched_movies_rating.take(5)
for r in recommendedMovies:
    print(r['movieId'], r['title'], r['prediction'])

Test: 110081
Test: 109068
Test: 117500
Test: 106544
Test: 116259
Test: 102798
Test: 101775
Test: 106535
Test: 119432
Test: 89385