In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

spark = SparkSession.builder.appName("Recommendation ALS").getOrCreate()

# do something to prove it works
movies_df = spark.read.option("header", "true").csv("data/movies.csv", inferSchema=True)
links_df = spark.read.option("header", "true").csv("data/links.csv", inferSchema=True)
movies_df = movies_df.join(links_df, on = ['movieId'])
ratings_df = spark.read.option("header", "true").csv("data/ratings.csv", inferSchema=True)
tags_df = spark.read.option("header", "true").csv("data/tags.csv", inferSchema=True)

movies_df.show()

(training, test) = ratings_df.randomSplit([0.8, 0.2])
# Build the recommendation model using ALS on the training data
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
          coldStartStrategy="drop")
model = als.fit(training)


# Evaluate the model by computing the RMSE on the test data
predictions = model.transform(test)
predictions.printSchema()
predictions.orderBy('prediction').show(10)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

+-------+--------------------+--------------------+------+------+
|movieId|               title|              genres|imdbId|tmdbId|
+-------+--------------------+--------------------+------+------+
|      1|    Toy Story (1995)|Adventure|Animati...|114709|   862|
|      2|      Jumanji (1995)|Adventure|Childre...|113497|  8844|
|      3|Grumpier Old Men ...|      Comedy|Romance|113228| 15602|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|114885| 31357|
|      5|Father of the Bri...|              Comedy|113041| 11862|
|      6|         Heat (1995)|Action|Crime|Thri...|113277|   949|
|      7|      Sabrina (1995)|      Comedy|Romance|114319| 11860|
|      8| Tom and Huck (1995)|  Adventure|Children|112302| 45325|
|      9| Sudden Death (1995)|              Action|114576|  9091|
|     10|    GoldenEye (1995)|Action|Adventure|...|113189|   710|
|     11|American Presiden...|Comedy|Drama|Romance|112346|  9087|
|     12|Dracula: Dead and...|       Comedy|Horror|112896| 12110|
|     13|        Balto (1995)|Adventure|Animati...|112453| 21032|
|     14|        Nixon (1995)|               Drama|113987| 10858|
|     15|Cutthroat Island ...|Action|Adventure|...|112760|  1408|
|     16|       Casino (1995)|         Crime|Drama|112641|   524|
|     17|Sense and Sensibi...|       Drama|Romance|114388|  4584|
|     18|   Four Rooms (1995)|              Comedy|113101|     5|
|     19|Ace Ventura: When...|              Comedy|112281|  9273|
|     20|  Money Train (1995)|Action|Comedy|Cri...|113845| 11517|
+-------+--------------------+--------------------+------+------+
only showing top 20 rows

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)
 |-- prediction: float (nullable = false)

+------+-------+------+----------+----------+
|userId|movieId|rating| timestamp|prediction|
+------+-------+------+----------+----------+
|   467|   2384|   2.0| 919671156|-3.5572166|
|   146|   3991|   2.5|1312508163|-2.5040135|
|   363| 168250|   4.0|1502584469|-2.2220926|
|   544|     40|   5.0| 850688776|-2.1197698|
|   176|    471|   5.0| 840109075|-2.0006058|
|   430|   3754|   3.0| 963888437|-1.9086914|
|    36|   3270|   1.5|1100803853|-1.8768086|
|   329|   4789|   5.0|1523468218|-1.7161732|
|   535|   2702|   4.0| 939029767|-1.6780152|
|    14|    540|   3.0| 835441794|-1.6160537|
+------+-------+------+----------+----------+
only showing top 10 rows

Root-mean-square error = 1.0847925269918446

Select the random userid, for example userid=1. Filter all movies that has not been watched by this user

In [33]:
from pyspark.sql import SQLContext

userId = 1
watched_movies = ratings_df.filter(ratings_df['userId'] == userId).select("movieId")

print("Watch movies {}".format(watched_movies.count()))
print("Total movies {}".format(movies_df.count()))

sqlContext = SQLContext(spark.sparkContext)
watched_movies.registerTempTable('watchedMovies')
movies_df.registerTempTable("movies")

unwatched_movies = sqlContext.sql("SELECT * FROM movies LEFT OUTER JOIN watchedMovies ON movies.movieId != watchedMovies.movieId")
unwatched_movies.count()

Watch movies 232
Total movies 9742

2259912